@font-face {
	font-family: "Ubuntu Light";
	src: url('../fonts/Ubuntu-L.ttf');
	src: local("Ubuntu Light"), url('../fonts/Ubuntu-L.ttf') format('truetype');
}
body {
	color: #fff;
	background: url('../img/bg.png');
	margin: 0;
	font-family: "Ubuntu Light", sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 1.875em;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#content {
	padding: 0 15px;
	margin: 460px 0 0 0;
}

/* HEADER */
#header_backdrop {
	background: rgba(0, 0, 0, .3);
	width: 100%;
	height: 110px;
	position: absolute;
}
header {
	background: #fff;
	width: 100%;
	height: 85px;
	position: relative;
}
#logo {
	position: absolute;
	top: 50%;
	left: -20px;
	padding: 12px 10px 12px 0;
	border-right: solid 1px #ccc;
	margin: -38px 0 0 0;
}
#block {
	position: absolute;
	top: 50%;
	right: -20px;
	margin: -25px 0 0 0;
}

/* navigation */
nav {
	color: #aaa;
	font-size: 1.25em;
}
nav ul {
	width: 820px;
	position: absolute;
	left: 180px;
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	float: left;
	margin: 30px 25px 0 25px;
}
nav ul li:hover {
	color: #333;
}
nav ul li #contact {
	position: absolute;
	right: 50px;
}

#breadcrumbs {
	color: #333;
	position: absolute;
	bottom: -20px;
	left: 15px;
	font-size: .75em;
}

/* LIGHTBOX */
#lightbox {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	border-bottom: solid 5px #962929;
}
#lightbox_background {
	position: absolute;
	right: 0;
	min-width: 100%;
	min-height: 500px;
}
#lightbox_info {
	position: absolute;
	top: 150px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#lightbox_info h1 {
	margin: 0 0 20px 0;
	font-size: 1.875em;
	font-weight: normal;
}
#lightbox_info p {
	font-size: 1.125em;
}

/* CONTENTS */
#content #information h1 {
	text-align: center;
}
#content #information #panel1 {
	width: 450px;
	float: left;
}
#content #information #panel2 {
	width: 450px;
	float: right;
}
